#HomePage {
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    .brand {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 30px;
      .jordan {
        width: 200px;
        height: 100px;
      }
      nav {
        display: flex;
        align-items: center;
        gap: 30px;
        p:hover {
          color: rgb(120, 120, 120);
          transition: 0.2s ease;
          -webkit-transition: 0.2s ease;
          -moz-transition: 0.2s ease;
          -ms-transition: 0.2s ease;
          -o-transition: 0.2s ease;
        }
      }
    }
    .bcimg {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }
}

// ?
#popular {
  padding-block: 50px;
  .products {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .popular_text {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .btn {
        display: flex;
        align-items: center;
        gap: 30px;
        button {
          padding: 0.1px;
          background: rgb(209, 209, 209);
          border-radius: 50%;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
      }
    }
    .box {
      display: flex;
      align-items: flex-start;
      gap: 20px;
      overflow-x: auto;
      padding-bottom: 20px;

      &::-webkit-scrollbar {
        height: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 4px;
      }

      .cart {
        flex: 0 0 450px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        img {
          max-width: 450px;
          height: 450px;
          object-fit: contain;
          background-color: #f5f5f5;
          width: 100%;
          cursor: pointer;
        }

        h3 {
          font-size: 18px;
        }

        span {
          font-weight: bold;
          font-size: 18px;
          color: #3f3f3f;
        }
      }
    }
  }
}
#nike {
  padding-block: 50px;
}
.scrollWrapper {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 10px;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
}

.Img {
  display: flex;
  gap: 20px;
  min-width: max-content;
  scroll-snap-type: x mandatory;
}

.card {
  // position: relative;
  flex: 0 0 auto;
  scroll-snap-align: center;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 1px 1px 10px;
  background: #fff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.03);
  }

  img {
    width: 450px;
    height: 450px;
    object-fit: contain;
    // display: block;
    border-radius: 16px;
  }
  h1 {
    font-size: 25px;
    padding: 0px 0 0 20px;
  }
}

#reklama {
  padding-block: 40px;
  .reklama {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    .cart_reklama:nth-child(1) {
      background: url(https://futurevvorld.com/wp-content/uploads/2022/10/nike-air-max-tw-tailwind-sneaker-recycled-materials-move-to-zero-3-1440x891.png)
        no-repeat center;
      background-size: 100%;
      max-width: 620px;
      width: 100%;
      height: 350px;
      position: relative;
      .aaa {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 20px;
        gap: 10px;
        bottom: 0;
        h2 {
          backdrop-filter: blur(40px);
          padding: 2px 15px;
          border-radius: 30px;
          color: #fff;
          font-size: 30px;
        }
      }
    }
    .cart_reklama:nth-child(2) {
      background: url(https://media.gq.com/photos/61e9dd45c1d4b2988dc1f504/16:9/w_2560%2Cc_limit/cdg-97s.jpg)
        no-repeat center;
      position: relative;
      background-size: 100%;
      max-width: 620px;
      width: 100%;
      height: 350px;

      .aaa {
        position: absolute;
        display: flex;
        // align-items: center;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 20px;
        gap: 10px;
        bottom: 0;
        h2 {
          backdrop-filter: blur(40px);
          padding: 2px 15px;
          border-radius: 30px;
          color: #fff;
          font-size: 30px;
        }
      }
    }
  }
}
